<link rel="stylesheet" type="text/css" href="style.css">

<h1>Cool Cat Characters!</h1>
<p>click any for more details.</p>
<a href="/c1"><img src="c1.jpg" alt="cat1" ></a>
<a href="/c2"><img id="tringle" src="c2.jpg" alt="cat2" ></a>
<a href="/c3"><img src="c3.jpg" alt="cat3" ></a>
