<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<img src= "<%= pic %>.jpg" alt="cat pic">

<table class="table table-striped table-dark">
  <% for (var i=0; i<details.length;i++) { %>
      <% var key = Object.keys(details[i])[0]  %>
      <tr>
        <th><%= key %></th>
        <td><%= details[i][key] %></td>
      </tr>
  <% } %>
</table>