<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h1>Submitted Info..</h1>

<form action="/" method="GET">
  
  <table>
    <tr>
      <th>Name:</th>
      <td><%= name %></td>
    </tr>
    <tr>
      <th>Dojo Location:</th>
      <td><%= location %></td>
    </tr>
    <tr>
      <th>Favorite Language:</th>
      <td><%= lang %></td>
    </tr>
    <tr>
      <th>Comment(optional):</th>
      <td><%= comment %></td>
    </tr>
  </table>

  <button type="submit" class="btn btn-primary">Go Back</button>
</form>