<link rel="stylesheet" type="text/css" href="style.css">

<h1><%=count %></h1>
<h3>Times you visit this root!</h3>
<form action="/twice" method="GET">
    <input type="submit" value="+2" >
</form>
<form action="/reset" method="GET">
    <input type="submit" value="Reset" >
</form>