<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1>Add a new car information</h1>

<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Car ID:</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the ID nummber">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Car Brand:</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the brand">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Car color:</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the color">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>